<div class="vstack gap-4">
    <div>
        <p class="small fw-semibold mb-2">Restricted page range</p>
        <ngb-pagination
            collection-size="120"
            page="example.paginatedPage"
            page-change="example.selectPaginatedPage($event)"
            max-size="5"
            boundary-links="true">
        </ngb-pagination>
    </div>

    <div>
        <p class="small fw-semibold mb-2">Rotating page range</p>
        <ngb-pagination
            collection-size="240"
            page="example.rotatedPage"
            page-change="example.selectRotatedPage($event)"
            max-size="5"
            rotate="true"
            boundary-links="true">
        </ngb-pagination>
    </div>

    <div>
        <p class="small fw-semibold mb-2">Without ellipses</p>
        <ngb-pagination
            collection-size="240"
            page="example.compactPage"
            page-change="example.selectCompactPage($event)"
            max-size="5"
            rotate="true"
            ellipses="false">
        </ngb-pagination>
    </div>
</div>
