<p class="small text-body-secondary mb-3">
    Click the carousel to focus it, then use the
    <kbd class="mx-1">←</kbd>
    and
    <kbd class="mx-1">→</kbd>
    keys.
</p>

<ngb-carousel
    aria-label="Keyboard-controlled carousel"
    interval="0"
    keyboard="true"
    show-navigation-arrows="false"
    show-navigation-indicators="false">
    <ng-template ngb-slide id="keyboard-dog">
        <img
            src="https://picsum.photos/id/1025/900/500"
            class="d-block w-100 h-auto"
            width="900"
            height="500"
            alt="Dog wrapped in a blanket">
    </ng-template>

    <ng-template ngb-slide id="keyboard-river">
        <img
            src="https://picsum.photos/id/1035/900/500"
            class="d-block w-100 h-auto"
            width="900"
            height="500"
            alt="River running through a forest">
    </ng-template>

    <ng-template ngb-slide id="keyboard-coast">
        <img
            src="https://picsum.photos/id/1043/900/500"
            class="d-block w-100 h-auto"
            width="900"
            height="500"
            alt="Rocky coastline">
    </ng-template>
</ngb-carousel>
