<div class="d-flex flex-wrap gap-2">
    <button type="button" class="btn btn-outline-primary" ng-click="example.openCustomWindow()">Custom class</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openStaticBackdrop()">Static backdrop</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openSmall()">Small</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openLarge()">Large</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openExtraLarge()">Extra large</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openFullscreen()">Fullscreen</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openCentered()">Vertically centered</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openScrollable()">Scrollable content</button>
    <button type="button" class="btn btn-outline-primary" ng-click="example.openCustomDialog()">Dialog custom class</button>
</div>
