<div class="d-flex flex-wrap gap-2 mb-3">
    <button type="button" class="btn btn-primary btn-sm" ng-click="example.add()">Add tab</button>
    <button
        type="button"
        class="btn btn-outline-danger btn-sm"
        ng-click="example.removeActive()"
        ng-disabled="example.items.length === 1">
        Remove active tab
    </button>
</div>

<ul
    ngb-nav
    ng-ref="example.nav"
    ng-ref-read="ngbNav"
    active-id="example.activeId"
    class="nav-tabs">
    <li ng-repeat="item in example.items track by item.id" ngb-nav-item="item.id">
        <button type="button" ngb-nav-link>{{ item.title }}</button>
        <ng-template ngb-nav-content>
            <p class="pt-3 mb-0">Dynamic content for {{ item.title }}.</p>
        </ng-template>
    </li>
</ul>

<div ngb-nav-outlet="example.nav"></div>
