.heart { color: var(--bs-secondary-bg); display: inline-block; font-size: 2.35rem; margin-right: .15rem; position: relative; filter: drop-shadow(0 .25rem .45rem rgba(var(--bs-body-color-rgb), .1)); }
.heart .fill { color: var(--bs-danger); left: 0; overflow: hidden; position: absolute; top: 0; }
