<div class="d-flex flex-wrap gap-3">
    <div class="btn-group" ngb-dropdown>
        <button type="button" class="btn btn-primary" ngb-dropdown-toggle>Button group</button>
        <div ngb-dropdown-menu>
            <button type="button" ngb-dropdown-item>Edit</button>
            <button type="button" ngb-dropdown-item>Duplicate</button>
            <button type="button" ngb-dropdown-item>Archive</button>
        </div>
    </div>

    <div class="btn-group" ngb-dropdown>
        <button type="button" class="btn btn-success">Save</button>
        <button
            type="button"
            class="btn btn-success dropdown-toggle-split"
            ngb-dropdown-toggle
            aria-label="More save options">
            <span class="visually-hidden">Toggle dropdown</span>
        </button>
        <div ngb-dropdown-menu>
            <button type="button" ngb-dropdown-item>Save as draft</button>
            <button type="button" ngb-dropdown-item>Save and publish</button>
            <button type="button" ngb-dropdown-item>Save a copy</button>
        </div>
    </div>
</div>
