<div class="toast-container position-static d-flex flex-column gap-3">
    <div>
        <h3 class="h6">Body only</h3>
        <ngb-toast autohide="false">I am a simple static toast.</ngb-toast>
    </div>

    <div>
        <h3 class="h6">With a text header</h3>
        <ngb-toast ng-if="example.showHeaderToast" header="Hello" autohide="false" hidden="example.showHeaderToast = false">
            I am a simple static toast with a header.
        </ngb-toast>
        <button ng-if="!example.showHeaderToast" type="button" class="btn btn-sm btn-outline-primary" ng-click="example.showHeaderToast = true">
            Show toast again
        </button>
    </div>
</div>
