<p>Select a time between 12:00 and 13:59.</p>

<form name="example.form" novalidate>
    <div class="d-flex flex-column align-items-start gap-2">
        <ngb-timepicker name="lunchtime" ng-model="example.time" docs-timepicker-lunch-validator required></ngb-timepicker>

        <div class="small text-success" ng-if="example.form.lunchtime.$valid">Great choice.</div>
        <div class="small text-danger" ng-if="example.form.lunchtime.$error.required">Select a lunchtime.</div>
        <div class="small text-danger" ng-if="example.form.lunchtime.$error.lunchtime">The selected time is too early or too late.</div>
    </div>
</form>

<hr>
<pre class="w-100 mb-0">Selected time: {{ example.time | json }}</pre>
