<div class="form-check form-switch mb-3">
    <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="dropdown-restricted-items"
        ng-model="example.restricted">
    <label class="form-check-label" for="dropdown-restricted-items">Disable restricted actions</label>
</div>

<div ngb-dropdown>
    <button type="button" class="btn btn-primary" ngb-dropdown-toggle>Project actions</button>
    <div ngb-dropdown-menu>
        <button type="button" ngb-dropdown-item>Open project</button>
        <button type="button" ngb-dropdown-item ng-disabled="example.restricted">Archive project</button>
        <button type="button" ngb-dropdown-item ng-disabled="example.restricted">Delete project</button>
        <div class="dropdown-divider"></div>
        <button type="button" ngb-dropdown-item ng-disabled="true">Unavailable action</button>
    </div>
</div>
