<p class="text-body-secondary mb-3">
    Resize the viewport to see the navigation switch between its expanded and collapsed layouts.
</p>

<nav class="navbar navbar-expand-lg bg-body-tertiary border rounded">
    <div class="container-fluid">
        <span class="navbar-brand mb-0">NgbJS</span>

        <button
            type="button"
            class="navbar-toggler"
            ng-click="example.toggleMenu()"
            ng-attr-aria-expanded="{{ !example.menuCollapsed }}"
            aria-controls="collapse-navbar-menu"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div
            id="collapse-navbar-menu"
            class="navbar-collapse"
            ngb-collapse="example.menuCollapsed">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <button type="button" class="nav-link active" ng-click="example.closeMenu()">Features</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" ng-click="example.closeMenu()">Examples</button>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link" ng-click="example.closeMenu()">About</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
