<div class="d-flex flex-wrap gap-2">
    <button type="button" class="btn btn-outline-secondary" placement="top" ngb-tooltip="'Tooltip on top'">Top</button>
    <button type="button" class="btn btn-outline-secondary" placement="end" ngb-tooltip="'Tooltip on right'">Right</button>
    <button type="button" class="btn btn-outline-secondary" placement="bottom" ngb-tooltip="'Tooltip on bottom'">Bottom</button>
    <button type="button" class="btn btn-outline-secondary" placement="start" ngb-tooltip="'Tooltip on left'">Left</button>
</div>
