<div class="d-flex flex-column align-items-start gap-3">
    <ngb-timepicker ng-model="example.time" seconds="true" hour-step="example.hourStep" minute-step="example.minuteStep" second-step="example.secondStep"></ngb-timepicker>

    <div class="row g-3 align-self-stretch">
        <div class="col-sm-4">
            <label class="form-label small" for="timepicker-hour-step">Hour step</label>
            <input id="timepicker-hour-step" class="form-control form-control-sm" type="number" min="1" ng-model="example.hourStep">
        </div>
        <div class="col-sm-4">
            <label class="form-label small" for="timepicker-minute-step">Minute step</label>
            <input id="timepicker-minute-step" class="form-control form-control-sm" type="number" min="1" ng-model="example.minuteStep">
        </div>
        <div class="col-sm-4">
            <label class="form-label small" for="timepicker-second-step">Second step</label>
            <input id="timepicker-second-step" class="form-control form-control-sm" type="number" min="1" ng-model="example.secondStep">
        </div>
    </div>

    <hr class="w-100 my-0">
    <pre class="w-100 mb-0">Selected time: {{ example.time | json }}</pre>
</div>
