<section class="hero">
    <div class="container px-4">
        <div class="content">
            <img class="hero-logo" ng-src="{{$.brandIconUrl}}" width="168" height="168" alt="NgbJS">

            <h1 class="headline">
                <span>Parity</span> is Priority
            </h1>

            <p class="summary">
                ng-bootstrap components and APIs, thoughtfully ported to AngularJS with
                Bootstrap-native styling and behavior.
            </p>
        </div>

        <div class="actions">
            <a ui-sref="/guide/introduction" class="btn btn-primary btn-lg px-4">
                Get started
            </a>

            <a ui-sref="/components/accordion" class="btn btn-outline-secondary btn-lg px-4">
                Documentation
            </a>
        </div>
    </div>
</section>
